- content_for :page_title do
  = Spree.t(:abandoned_index)
- content_for :page_actions do
  - unless current_page?(admin_abandoned_orders_path)
    %li
      = button_link_to Spree.t(:abandoned_index), admin_abandoned_orders_path, icon: 'arrow-left'
